/* Flexbox settings ***********************************************/
tbody {
    display: flex;
    flex-flow: row wrap;     /* expetiment with column instead of row */
    justify-content: flex-start;
    align-content: flex-start;
    align-items: top;
    height: 600px;
}

/* Rows are 'cards' in flexbox model */
tr {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: top;
    flex-flow: row wrap;
    width:min-content;
    height: fit-content;
}

td, th {
    display: block;
    display:flex;
    width: fit-content;
} 


/* Styling for flexbox *********************************************/
tr {
    border: 1px solid;
    border-radius: 10px;
    border-collapse: collapse;
    width: 200px;
    padding: 0;
}

/* No TH in flexbox model */
tr.heading {
    display: none;
}

td {
    border-bottom: 1px solid;
    width: 100%;
    
}

/* First row in 'card' - year */
td:nth-child(1) {
    border-radius: 10px 10px 0px 0px;
    background-color: gray;
    color: white;
    font-weight: bold;
}

/* Second row - duration */
td:nth-child(2) {
    background-color: silver;
    color: white;
}

/* Last row - location */
td:nth-child(5) {
    border-radius: 0px 0px 10px 10px;
    background-color: silver;
    color: white;
    font-style: italic;
}

/* Backgrounds for 'cards' with education or work experience     */
.school {
    background-color: aquamarine;
}

.work {
    background-color: darksalmon;
}
